html,body{
    height: 100%;
}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,ul,ol,li,dl,dt,dd,label,table,form,tbody,tfoot,thead,tr,td,th,aside,canvas,footer,header,nav{
    padding: 0;
    margin: 0;
    border:0;
}
input{
    outline:none;
}
/* 滚动条宽度 */
::-webkit-scrollbar {
    width: 7px;
    height: 10px;
   }
/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
background-color: #a1a3a9;
border-radius: 3px;
}

.el-dropdown-menu .el-dropdown-menu__item img{
        width:16px;
        height:16px;
        margin-right: 8px;
        vertical-align:middle;
  }
#tab-first,#tab-second{
    width:205px;
    padding:0;
    text-align: center;
    font-size: 18px;
}
#tab-first,#tab-second:active{
    color: #2882fe;
}