
html,
body {
  height: 100%;
  font-size: 14px;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
dl,
dt,
dd,
label,
table,
form,
tbody,
tfoot,
thead,
tr,
td,
th,
aside,
canvas,
footer,
header,
nav {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style: none;
}

