@media screen and (min-width: 1024px) {
  html {
    font-size: 8px;
  }
}
@media screen and (min-width: 1100px) {
  html {
    font-size: 10px;
  }
}
/* @media (min-width: 1280px) { html{font-size: 22px;} } */
@media screen and (min-width: 1280px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 1366px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1580px) {
  html, body {
      font-size: 14px!important;
  }
}

@media screen and (min-width: 1900px) {
  html, body {
      font-size: 16px!important;
  }
}
// html{
//   height: 100%;
//   font-size:62.5% !important;
// }
// body {
//   font-size:12px;font-size:1.2rem ;
//   height: 100%;
//   font-size: 14px;
// }
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
dl,
dt,
dd,
label,
table,
form,
tbody,
tfoot,
thead,
tr,
td,
th,
aside,
canvas,
footer,
header,
nav {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style: none;
}
.el-tree-node__content:hover {
  background: rgba(255, 255, 255, 0.05);
}

.el-tree-node__label{
  font-size: 1.1rem;
}
.el-tree-node:focus > .el-tree-node__content {
  background-color:#2983fe;
  border-radius: 3px;
  color: #fff;
}
.el-tabs__item{
  padding: 0 10px;
}
// .tree .el-tree-node__expand-icon.expanded {
//   -webkit-transform: rotate(0deg);
//   transform: rotate(0deg);
// }
// .tree .el-icon-caret-right:before {
//   content: "\E602";
//   font-size: 18px;
// }
// .tree .el-tree-node__expand-icon.expanded.el-icon-caret-right:before {
//   content: "\E63c";
//   font-size: 18px;
// }
.el-table .cell{
  font-size: 1.1rem;
}
// .el-button span{
//   font-size: 1.2rem;
// }
