.el-pagination {
  text-align: end;
  margin-top: 20px;
  font-weight: 500;

  &.is-background .btn-next.disabled,
  &.is-background .btn-next:disabled,
  &.is-background .btn-prev.disabled,
  &.is-background .btn-prev:disabled,
  &.is-background .el-pager li.disabled {
    color: #99a2ae
  }

  &.is-background .btn-prev,
  &.is-background .btn-next,
  &.is-background .el-pager li {
    background-color: #e5edf9;
    color: #2882fe
  }

  &.is-background .el-pager li:not(.disabled).active {
    background-color: #2882fe
  }
}
